
/* Register your custom font family and tell the browser where to find it. */

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Black.woff2') format('woff2');
  font-weight: 900; /* Black (heaviest weight) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-BlackItalic.woff2') format('woff2');
  font-weight: 900; /* Black (heaviest weight) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-BoldItalic.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* ExtraBold (between Bold and Black) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800; /* ExtraBold (between Bold and Black) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-ExtraLight.woff2') format('woff2');
  font-weight: 200; /* ExtraLight (very light) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200; /* ExtraLight (very light) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Italic.woff2') format('woff2');
  font-weight: 400; /* Regular (italic version) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-LightItalic.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium (between Regular and Bold) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-MediumItalic.woff2') format('woff2');
  font-weight: 500; /* Medium (between Regular and Bold) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-SemiBold.woff2') format('woff2');
  font-weight: 600; /* SemiBold (between Medium and Bold) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600; /* SemiBold (between Medium and Bold) */
  font-style: italic;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-Thin.woff2') format('woff2');
  font-weight: 100; /* Thin (lightest weight) */
  font-style: normal;
}

@font-face {
  font-family: 'Linik Sans';
  src: url('/fonts/LinikSans-ThinItalic.woff2') format('woff2');
  font-weight: 100; /* Thin (lightest weight) */
  font-style: italic;
}

/* Added styles for flicker fix */
.accelerate {
  -webkit-backface-visibility: hidden; /* For older WebKit browsers */
  backface-visibility: hidden; /* Standard property for broader compatibility */
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch; /* Improves scroll smoothness on iOS */
}

img {
  aspect-ratio: auto; /* Respects intrinsic width/height ratio */
}