---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import bridge from "assets/bridge.jpg";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import paul from "assets/paul.jpeg";
import marge from "assets/marge.jpeg";
import '../styles/global.css';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto max-w-2xl mt-8">
      <Picture
          src={bridge}
          alt="Bear Mtn Bridge"
          widths={[200, 400, 600]}
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="avif"
        />
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-2xl mt-4">
      <h2 class="text-lg text-center italic leading-relaxed text-slate-500">
        Bridging the Gap Between People, Process & Technology
      </h2>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-12">
      <h2 class="font-bold text-3xl text-gray-800">
        Welcome to Infinite Limit, LLC.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Welcome to Infinite Limit, LLC, the integration and improvement experts. 
        We specialize in IT project implementation offering advisory and program/project 
        management services.
        <br></br>
        Infinite Limit (IL) has been helping organization with IT integration since 2010. 
        In November 2020, we established Infinite Limit | Business Services (ILBS) after 
        collaborating with CEO Juice to develop the knowledge and the expertise necessary 
        to successfully utilize the CEO Juice ConnectWise to eAutomate sync tools. 
        <br></br>
        In March of 2021, ILBS began offering integration services directly to Print/Imaging 
        Dealers (Office Equipment Dealers) who also offered Managed IT Services and were 
        using both eAutomate and ConnectWise Manage.
        <br></br>
        Working closely with the CEO Juice team, Infinite Limit | Business Services provides 
        these integration services to clients by offering our methodical approach to implementing 
        the CEO Juice syncs to meet your business needs. In addition, clients receive insights, 
        guidance, and improvement recommendations based on our experience and detailed 
        understanding of how these tools work. 
        <br></br>
        This is an important integration for your business. Getting the syncs properly implemented 
        is the first step. Next is identifying and leveraging the increased productivity benefits 
        the ConnectWise to eAutomate sync tools bring to your organization.
        <br></br>
        Infinite Limit offers Project Management and Advisory services beyond the integrations 
        described here.  Our expertise includes Acquisition Onboarding; ERP Deployment; Process 
        and Workflow Alignment; Change Management and more.  Contact us today if you are currently 
        ndertaking or are planning an IT project to see how we can help. 
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12">
      {
        <div class="group">
          <div class="w-full aspect-square">
            <a href="/marketing-site/team" class="text-lg">
            <Picture
              src={paul}
              alt={"Paul O'Flaherty"}
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">{"Paul O'Flaherty"}</h2>
            <h3 class="text-sm text-slate-500">
              {"Co-Founder and Consultant"}
            </h3>
          </div>
        </div>
      
      }
      {
        <div class="group">
          <div class="w-full aspect-square">
            <a href="/marketing-site/team#marge" class="text-lg">
            <Picture
              src={marge}
              alt={'Marge Fleck'}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">{"Margaret Fleck"}</h2>
            <h3 class="text-sm text-slate-500">
              {"Co-Founder and Strategist"}
            </h3>
          </div>
        </div>
      }
    </div>
  </Container>
</Layout>
