---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import paul from "assets/paul.jpeg";
import marge from "assets/marge.jpeg";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Meet the Team</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-20 mx-auto max-w-6xl mt-12">
        <div class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={paul}
              alt={"Paul O'Flaherty"}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="mt-4 text-left">
            <h2 class="text-lg text-gray-800 text-center">{"Paul O'Flaherty"}</h2>
            <h3 class="text-md text-slate-500 text-center">
              {"Co-Founder and Consultant"}
            </h3>
            <p class="text-sm leading-relaxed text-slate-500"><br>
              Paul O'Flaherty is a Co-founder of Infinite Limit, LLC, 
              where he serves as a Consultant, providing direct services 
              to our clients. His primary objective is to offer exceptional 
              advisory services to businesses seeking to enhance their 
              operations through system improvements and/or integrations. 
              By identifying and addressing issues where individuals, processes, 
              and technology intersect it is possible to simplify business 
              operations and improve the effectiveness of management. <br><br>Throughout 
              his career, Paul has held various leadership positions, including 
              IT Director for Sharp Business Systems. During his tenure, he 
              played a pivotal role in the company's growth, expanding from a 
              small team of five to over 1,000 employees and increasing revenues 
              from zero to $220 million, primarily through strategic acquisitions. 
              <br><br>Following his departure from Sharp, Paul joined Konica Minolta as a 
              Consulting Manager, responsible for deploying SAP Business One ERP 
              systems into the Office Technology Dealer market. In this capacity, 
              he and his team successfully implemented ERP solutions for a dozen Dealers. 
              <br><br>During the COVID-19 pandemic, Paul assumed the role of Managed IT Consultant 
              at CEO Juice, supporting the company for four months while they developed and 
              implemented software to synchronize financial data from ConnectWise Manage into 
              the ECi eAutomate system, a widely used platform by Office Equipment Dealers. 
              During this period, the concept for Infinite Limit | Business Services emerged, 
              and our first client joined us after Paul’s departure from CEO Juice in March 2021.
            </p>
          </div>
        </div>
      
        <div class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={marge}
              alt={'Marge Fleck'}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="mt-4 text-left">
            <h2 class="text-lg text-gray-800 text-center">{"Marge Fleck"}</h2>
            <h3 class="text-md text-slate-500 text-center">
              {"Co-Founder and Strategist"}
            </h3>
            <p class="text-sm leading-relaxed text-slate-500"><br>
              Margaret Fleck, also known as Marge, is a Co-Founder of Infinite 
              Limit, LLC, where she serves as Strategist and oversees Finances 
              and Business Administration. Her primary responsibility is to guide 
              the company’s strategic direction while ensuring its fiscal responsibilities 
              are met and its administrative processes are sound. Additionally, 
              Marge plays a pivotal role in reviewing new client requirements and 
              overseeing the timely and accurate completion of ongoing client projects. 
              <br><br>Throughout her career, Margaret served as the President of Marge Fleck 
              Professional Advisors (MFPA), providing consulting services in Electronic 
              and Consumer Product Manufacturing and the Public Transportation industries. 
              In addition to providing Contract Administration and back-office services, 
              Marge’s experience includes Business Process/System Assessments and System 
              Implementations (Peoplesoft) for over a dozen Public Transportation Agencies. 
              <br><br>Prior to establishing MFPA, Marge held the position of Materials and Supply 
              Chain Manager at Avon Products, where she successfully implemented the company’s 
              Supply Chain Planning System – Manugistics. <br><br>As Manager of Supply Chain Planning 
              Systems at ACCO North America, Marge oversaw the implementation of an enterprise-wide 
              Supply Chain Planning System across 13 locations in North America. This 
              initiative resulted in an annual cost savings of $12 million. As Manager, 
              Industrial Engineering at ACCO USA, Swingline, Marge spearheaded initiatives to 
              implement cellular manufacturing and automation projects, resulting in cost 
              savings exceeding $8 million. <br><br>Prior to her role at ACCO, Marge held the position 
              of Supervisor, Industrial Engineering/Systems at Loral Electronics Systems. 
              During her tenure at Loral, Marge oversaw the corporate work measurement program 
              and developed bid proposals for Department of Defense contracts. <br><br>Ms. Fleck possesses 
              a strategic mindset and demonstrates the ability to effectively motivate and lead 
              cross-functional teams to implement innovative solutions to key business opportunities.
            </p>
          </div>
        </div>
    </div>
  </Container>
</Layout>
