---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import paul from "../assets/paul.jpeg";
import marge from "../assets/marge.jpeg";

---

<Layout title="Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Meet the Team</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-20 mx-auto max-w-6xl mt-12">
        <div class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={paul}
              alt={"Paul O'Flaherty"}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="max-w-3xl mx-auto mt-4">
            <h2 class="text-lg text-gray-800 text-center">{"Paul O'Flaherty"}</h2>
            <h3 class="text-md text-slate-500 text-center mb-8">
              {"Co-Founder and Consultant"}
            </h3>
            <div class="space-y-6 max-w-3xl mx-auto">
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Paul O’Flaherty, co-founder of Infinite Limit, LLC, provides direct advisory services to businesses seeking system improvements and integrations. He identifies and addresses issues where people, process, and technology intersect to simplify business operations and enhance management effectiveness. He manages Client Relations, Project Delivery and Accountability. Paul provides client advocacy, meeting facilitation, problem solving, organizational change management, conflict resolution and project risk management services.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                A highly analytical and results-driven professional, Mr. O’Flaherty has substantial experience in IT operations, business analysis/consultation, team leadership and project management. He has proven success in the development of IT project plans, processes, and procedures and a demonstrated history of executing successful strategies to manage customer expectations and solution delivery to ensure customer satisfaction.  He is an articulate and refined communicator and excels at forging and building relations with professional stakeholders at all levels. Mr. O’Flaherty is an expert at devising solutions for complex business and system problems.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Prior to co-founding Infinite Limit, LLC, Mr. O’Flaherty served in both director and senior manager roles at large multi-national corporations including Konica Minolta Business Solutions and Sharp Electronics Corporation. As the Manager, Consulting Services in the IT Managed Services division of KMBS he provided the voice of the customer perspective for new and ongoing ERP implementation engagements. During his tenure at KMBS he was responsible for client ERP delivery, SOW review and sign-off, internal process improvement and oversaw the activities of six-member functional consultant and data analysis team. 
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                At Sharp Electronics Corporation, Mr. O’Flaherty held the position of Director, IT Management for Sharp Business Systems where he was a member of the leadership team planning and executing 15 business acquisitions, establishing the company data center, delivering ERP, CRM and a field service mobile application to over 1000 users, managing multiple system integrations, realizing machine to machine communications with more than 80,000 devices reporting nightly, and providing help desk support to the user community. 
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Mr. O’Flaherty began his career at Minolta Corporation as a Product Manager responsible for the development, marketing, service and sales of an electronic document management system, achieving greater than 1000 installations domestically and abroad.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                A certified PMP, Mr. O’Flaherty holds a Master of Business Administration degree in Corporate Finance from Pace University in New York and a Bachelor of Engineering degree in Electrical Engineering from the State University of New York at Stony Brook.	
              </p>
            </div>
          </div>
        </div>
      
        <div id="marge" class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={marge}
              alt={'Marge Fleck'}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="max-w-3xl mx-auto mt-4">
            <h2 class="text-lg text-gray-800 text-center">{"Marge Fleck"}</h2>
            <h3 class="text-md text-slate-500 text-center mb-8">
              {"Co-Founder and Strategist"}
            </h3>
            <div class="space-y-6 max-w-3xl mx-auto">
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Margaret (Marge) Fleck, co-founder of Infinite Limit, LLC, oversees finance, business administration, and strategic direction. She reviews and consults on new client requirements and provides oversight and support for ongoing projects.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Previously, Marge served as the President of Marge Fleck Professional Advisors, a business professional with over 20 years of experience in transportation industries and high-volume manufacturing environments. Ms. Fleck’s areas of expertise include information technology systems specification and implementation, project and change management, business process reengineering, business analytics and reporting, and supply chain planning.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                In her role as President of Marge Fleck Professional Advisors (MFPA), Ms. Fleck has delivered IT assessment, project management & controls, and business process re-engineering services to high profile clients in the public transportation industry. Ms. Fleck provided her clients with standardized business process improvements along with reporting tools that enable on-going monitoring and administration.
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Prior to forming her own company, Ms. Fleck served as a senior manager in large public organizations, including Avon Products, ACCO North America and Loral Electronic Systems (now Lockheed Martin). During her tenure at Avon, she was responsible for the Suffern facility Materials and Supply Chain Unit. She was a member of the Avon Global Supply Chain initiative and had overall responsibility for materials management, including freight and logistics. 
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                At ACCO North America, Ms. Fleck oversaw the implementation of an enterprise-wide Supply Chain Planning system spanning 13 locations in North America, resulting in a doubling of inventory turns and improved business performance yielding $12M annual savings.  Prior to this position, Ms. Fleck was Manager of Industrial Engineering, where she was responsible for corporate cost reduction and productivity improvement projects, resulting in $8 million annual savings. 
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Ms. Fleck began her career at Loral Electronic Systems, as an Industrial Engineer and then Supervisor of Industrial Engineering/Systems group, managing and representing the company’s Work Measurement program under a $5M annual budget. 
              </p>
              <p class="block text-sm leading-relaxed text-slate-500 text-justify">
                Ms. Fleck holds a Master of Business Administration degree in Corporate Finance from Pace University in New York and a Bachelor of Engineering degree in Materials and Engineering Science from the State University of New York at Stony Brook.
              </p>
            </div>
          </div>
        </div>
    </div>
  </Container>
</Layout>
