---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import paul from "../assets/paul.jpeg";
import marge from "../assets/marge.jpeg";

---

<Layout title="Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Meet the Team</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-20 mx-auto max-w-6xl mt-12">
        <div class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={paul}
              alt={"Paul O'Flaherty"}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="mt-4 text-left">
            <h2 class="text-lg text-gray-800 text-center">{"Paul O'Flaherty"}</h2>
            <h3 class="text-md text-slate-500 text-center">
              {"Co-Founder and Consultant"}
            </h3>
            <p class="text-sm leading-relaxed text-slate-500"><br>
              Paul O’Flaherty, a Co-founder of Infinite Limit, LLC, provides direct 
              advisory services to businesses seeking system improvements and integrations. 
              He identifies and addresses issues where individuals, processes, and 
              technology intersect to simplify business operations and enhance 
              management effectiveness. <br><br>Paul held leadership positions, including IT 
              Director for Sharp Business Systems, where he helped grow the company from 
              five employees to over 1,000 and revenues from zero to $220 million through 
              strategic acquisitions and organic growth. <br><br>As a Consulting Manager at 
              Konica Minolta, he deployed SAP Business One ERP systems into the Office Technology 
              Dealer market, successfully implementing solutions for a dozen Dealers. 
              <br><br>Paul assumed the role of Managed IT Consultant at CEO Juice, supporting the 
              company for four months while they developed and implemented software to synchronize 
              financial data from ConnectWise Manage into the ECi eAutomate system, a widely used 
              platform by Office Equipment Dealers. During this period, the concept for Infinite 
              Limit | Business Services emerged, and our first client joined us after Paul’s departure 
              from CEO Juice in March 2021.
            </p>
          </div>
        </div>
      
        <div id="marge" class="group">
          <div class="grid justify-items-center w-full aspect square">
            <Picture
              src={marge}
              alt={'Marge Fleck'}
              sizes="(max-width: 800px) 100vw, 400px"
              width={300}
              height={400}
              class="w-full rounded-md rounded transition shadow-xl bg-white object-cover object-center aspect-square"
              />
          </div>

          <div class="mt-4 text-left">
            <h2 class="text-lg text-gray-800 text-center">{"Marge Fleck"}</h2>
            <h3 class="text-md text-slate-500 text-center">
              {"Co-Founder and Strategist"}
            </h3>
            <p class="text-sm leading-relaxed text-slate-500"><br>
              Margaret (Marge) Fleck, oversees finance, business administration, and strategic 
              direction at Infinite Limit, LLC. She reviews new client requirements and supports ongoing projects. 
              <br><br>Previously, Marge served as the President of Marge Fleck Professional Advisors, 
              providing consulting in manufacturing and public transportation. Marge’s experience 
              includes Business Process/System Assessments and System Implementations (Peoplesoft) 
              for over a dozen Public Transportation Agencies. Notably, she held the position of 
              Quality Lead in a company-wide Business Optimization project at the Bay Area Rapid 
              Transit agency in Northern California.
              <br><br>Prior to creating MFPA, Marge had success as Materials and Supply Chain Manager 
              at Avon Products, and as Manager of Supply Chain Planning Systems at ACCO North America, 
              where she led the implementation of an enterprise-wide system across 13 locations, 
              resulting in multi-million dollar savings annually.<br><br>Ms. Fleck’s strategic 
              mindset and leadership enable cross-functional teams to implement innovative 
              solutions for key business opportunities.
            </p>
          </div>
        </div>
    </div>
  </Container>
</Layout>
