
<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    our expertise includes: 
  </h2>
  <p class="block text-justify text-lg mt-4 text-slate-600">
    Advisory Services; Project Management; Acquisition Onboarding; 
    System Deployment; Process and Workflow Alignment and Change Management.
    <br></br>
    ILBS currently provides our services directly to Office Equipment Dealers 
    who also deliver Managed IT Services.    
    <br></br>
    <ol class="text-lg text-slate-600">
      <li>Why you should consider integrating:</li>
      <li>1. Consolidate financial data in eAutomate</li>
      <li>2. Reduce or eliminate duplicate data entry</li>
      <li>3. Leverage 'usage' data collected in ConnectWise</li>
      <li>4. Improve profitability reporting</li>
      <li>5. Regain your sanity</li>
    </ol>
    <br></br>
    <ol class="text-lg text-slate-600">
      <li>Why you should consider ILBS as your partner:</li>
      <li>1. We provide experienced, reliable resource</li>
      <li>2. With custom tools and a proven methodology</li>
      <li>3. Providing hands on help</li>
      <li>4. Along with project planning and management</li>
      <li>5. And, expert insight & best practices</li>
    </ol>
  </p>
</div>

<!-- 
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
-->