---
import { Picture } from "astro:assets";
import stock_photo from "assets/stock_photo.jpg"
import Link from "@components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-8 pb-4 md:pt-12 md:pb-8 lg:pb-16">
  <div class="py-6 md:order-1 hidden md:block lg:w-full md:px-24 lg:px-0 lg:pl-2">
    <Picture
      src={stock_photo}
      alt="Buildings"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="rounded-2xl shadow-xl"
    />
  </div>
  <div class="space-y-6 flex flex-col mx-auto max-w-4xl">
    <h1
      class="text-4xl lg:text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      there is no limit.
    </h1>
    <p class="block text-justify text-lg mt-4 text-slate-600 max-w-xl">
      Infinite Limit | Business Services (ILBS) offers consulting 
      Services to businesses of all sizes. Our services include: 
      IT Planning; Systems Integrations; IT Management; ERP Deployment; 
      Acquisitions and more.
    </p>
    <p class="block text-justify text-lg mt-4 text-slate-600 max-w-xl">
      ILBS is currently focused on 
      providing ConnectWise to eAutomate integration services for 
      Office Equipment Dealers.  Our unique qualifications enabled 
      us to successfully deliver these services to over a dozen 
      Office Equipment Dealers. Engage with ILBS and take advantage of our knowledge and the tools we have developed to support these projects.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/about"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
         About us
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center justify-center">
         Contact
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/approach"
        class="flex gap-1 items-center justify-center">
         Our Approach
      </Link>
    </div>
  </div>
</main>
